@page "/counter"
@using bio.tree.client.Services.Abstractions
@rendermode InteractiveServer
@inject ITestService _testService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<p>@test</p>
<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string test = string.Empty;
    
    protected override async Task OnInitializedAsync()
    {
        var tmp = await _testService.GetTest();
        test = tmp.Text;
    }

    private void IncrementCount()
    {
        currentCount++;
    }

}