@page "/"
@inject NavigationManager NavigationManager;
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<button @onclick="RedirectToSignUp">
    Sign up
</button>

@code {

    public string Event { get; set; } = "not clicked";
    
    private void RedirectToSignUp()
    {
        Console.WriteLine("Test");
        Event = "clicked";
        NavigationManager.NavigateTo("/sign-up");
    }

}